<!DOCTYPE html>
<html>
<head>
    <title>express.static()</title>
</head>
<body>
    <h2>Using Express static for rendering the image fioe in the browser</h2>
    <img src="oats.png" width="150" height="100" />
</body>
</html>